* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #a435f0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2__input {
    border: none;
    width: 100%;
}

.navbar__s2__input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s4{
    display: none;}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    background-color: white;
    color: black;
    border: solid black 1px;
    padding: 10px;
    position: absolute;
    top: 30px;
    display: none;
}

.mylearning:hover .mylearning__popup{
display: block;
}

.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border: solid #a435f0 1px;
    border-radius: 30px;
}
.categories p:hover {
    transition: 0.8s;
border: solid #a435f0 1px;
color: #a435f0;
background-color: white;
cursor: pointer;
}

.sale-image{
    position: relative;
}

.sale-image img {
    width: 100%;
}

.sale-image__offer{
    width: 500px;
    background-color: #a435f0;
    padding: 15px;
    border-radius: 15px;
    color: white;
    gap: 10px;
    position: absolute;
    left:5%;
    bottom: 30%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

.sale-image__offer button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.recommended {
    padding: 10px;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px;
}

.course-card img {
    width: 100%;
    height: 50%;
    border-radius:5px;
   
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.topics{
    padding: 10px;
}
.topics__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.topics__container p{
    margin-top: 10px;
    border: solid grey 1px;
    padding: 10px;
    display: flex;
    flex-basis: 25%;
    flex-grow:1;
}

.popular{
    padding: 10px;
    margin-top: 30px;
}

.footer{
    background-color: black;
    color: white;
    padding: 10px;
}

.footer__one{
    display: flex;
}

.footer__one p{
    margin: 10px;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

@media screen and (max-width:800px) {
   body{ font-size: 12px;}
 
   .sale-image img{
    height: 250px;
   }
   .sale-image__offer{
    width: 60%;
    top:10%
   }
   .navbar__s4{
    display: block;
}
.navbar__s2, .navbar__s3{
    display: none;
}

@media screen and (max-width:600px){
    .course-card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }

}
.sale-image__offer{
    top:5%;
}

}